Django==5.0.2
django-crispy-forms==2.1
django-environ==0.11.2
psycopg2-binary==2.9.9
twilio==8.12.0
requests==2.31.0
python-dotenv==1.0.1
channels==4.0.0
channels-redis==4.2.0
daphne==4.1.0
whitenoise==6.6.0
gunicorn==21.2.0
